<:Title>
  Preguntas Frecuentes

<:Body>
<h1>Preguntas Frecuentes</h1>

<p>Esta es la página de Servicio Social de la Escuela de Psicología de la Universidad Dr. José Matías Delgado. Aquí encontrará información sobre proyectos existentes de Servicio Social, y podrá inscribirse en los mismos. Además, tendrá su usuario e información de Servicio Social.</p>

<h3>¿Cuántas Horas Debo Hacer de Servicio Social?</h3>
<p>Debes realizar 500 horas. Pueden hacerse en varios proyectos, o en algunas ocasiones, en un sólo proyecto.<p>

<h3>¿Cuándo Puedo Iniciar el Servicio Social?</h3>
<p> Puedes inicar el servicio social hasta que te encuentres en <strong>CUARTO AÑO</strong>. Esta disposición la ha tomado la Junta de Vigilancia de Psicología, como ente regulador y final de las horas sociales para Psicología.</p>


<h3>¿Cuál es el Proceso a seguir para Iniciar?</h3>
<p>Debes ver si hay cupo en los Proyectos de Servicio Social, los cuales se encuentran en la página de entrada de esta aplicación web. Al final de la información verás las personas que están inscritas en el proyecto. Si el proyecto se encuentra en color gris, no está disponible.</p>
<p>Si hay cupo en el proyecto, y este te interesa, debes buscar al encargado del proyecto. Si eres aceptado para el proyecto, debes inicar el proceso del servicio social.</p>

<h3>¿Cómo inicio el proceso?</h3>
<li>El proceso se inicia llenando una SOLICITUD, a mano, en el cubículo del coordinador de servicio social, Lic. Carlos Coto.</li>
<li>Debes presentar la solicitud, junto con el Plan de Trabajo. Este lo encuentras en el área de ACCOUNT, bajo tu nombre en esta plataforma.</li>
<li>Posteriormente, debes presentar un AVANCE QUINCENAL. También encontrado en el mismo lugar.</li>
<li>El proceso finaliza cuando presentas el REPORTE FINAL, junto con la CARTA DE FINALIZACION, que te la da el lugar donde hizo las horas.<li>
<strong>En este momento NO recibes carta alguna por parte de la UJMD.</strong> Esta carta la recibes cuando FINALIZAS, las 500 horas sociales. La envía a tu correo, la Dirección de Servicio Social. 

<h3>¿Debo presentar TODA LA DOCUMENTACION AL FINAL de cada proyecto?</h3>
<p> NO. Debes presentarla en su debido momento. La solicitud y el plan al iniciar. Los reportes quincenales, pues cada quince días. El Reporte Final y la Carta de Finalización, al final.</p>

<h3>¿Qué pasa si se me pierde, o me pierden... la documentación, o un documento?</h3>
<p>Esperamos que no suceda. Pero, siendo humanos, podría ocurrir. Por lo que se recomienda FOTOCOPIAR y guardar CADA PAPEL, o DOCUMENTO importante. La documentación es SU responsabilidad. USTED se responsabiliza por su proceso, por lo que DEBE ESTAR PENDIENTE. Para ello, hemos desarrollado esta aplicación web.</p>