<:Title>
  Admin

<:Body>



<form e-submit="add_todo" role= "form">

	<input value="{{ page._new_todo!._label }}" />
</form>

<h3><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>Proyectos {{ _todos.size }} </h3> 

<div class="disponibles"><h4>Disponibles <span class="badge"> {{ incomplete }}</span></h4></div> 

<table class="table">
{{ _todos.each_with_index do |todo, index| }}

<tr 
	e-click="params._index = index"
	class="{{ if current_index == index }}selected{{ end }}"
>
	<td><input type="checkbox" checked="{{ todo._completed }}"></td>
	<td class="{{ if todo._completed }}complete{{ end }}">{{ todo._label }}</td>
	
	<td><button e-click="todo.destroy">X</button></td>
	
</tr>
	{{ end }}
</table>

<hr/>

<h1> {{ current_todo._label}} </h1>

<textarea>{{ current_todo._description }}</textarea>

<hr/>

<h4> Número de Usuarios: {{ users.size }} </4>
<div class="mensajes"><h5>Mensajes <span class="badge">{{ messages.size }}</span></h5></div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Usuarios</strong></div>
	<table class="table">

		<tr>
			<td><strong>Nombre</strong></td>
			<td><strong>Carnet</strong></td>
			<td><strong>E-mail</strong></td>
			<td><strong>Teléfonos</strong></td>
			<td><strong>Proyecto1</strong></td>
			<td><strong>Horas Sociales</strong></td>
			<td><strong>Borrar</strong></td>
			<td><strong>Borrar Horas</strong></td>
			<td><strong>Proyecto2</strong></td>
			<td><strong>Horas Sociales</strong></td>
			<td><strong>Borrar</strong></td>
			<td><strong>Borrar Horas</strong></td>
			<td><strong>Proyecto3</strong></td>
			<td><strong>Horas Sociales</strong></td>
			<td><strong>Borrar</strong></td>
			<td><strong>Borrar Horas</strong></td>
			<td><strong>Borrar Usuario</strong></td>

			
		</tr>

		{{ store.users.all.each do |user|  }}

		<tr>
			<td>{{ user._name }}</td>
			<td>{{ user._carnet }}</td>
			<td>{{ user._email }}</td>
			<td>{{ user._telefono }}</td>
			<td>{{ user._proyecto1 }}</td>
			<td>{{ user._hora1 }}</td>
			<td><button e-click="user._proyecto1 = nil">Borrar P1</button></td>
			<td><button e-click="user._hora1 = nil">Borrar H1</button></td>
			<td><input type="radio" checked="{{ user._proyecto1._completed }}"></td>
			<td>{{ user._proyecto2 }}</td>
			<td>{{ user._hora2 }}</td>
			<td><button e-click="user._proyecto2 = nil">Borrar P2</button></td>
			<td><button e-click="user._hora2 = nil">Borrar H2</button></td>
			<td>{{ user._proyecto3 }}</td>
			<td>{{ user._hora3 }}</td>
			<td><button e-click="user._proyecto3 = nil">Borrar P3</button></td>
			<td><button e-click="user._hora3 = nil">Borrar H3</button></td>
			<td><button e-click="sendmail_signup">Send Email</button></td>
			<td><button type="button" class="btn btn-warning" e-click="user.destroy"><div class="destroy">Borrar Usuario</div></button></td>
			<td><button e-click="MailSenderTask.send(first)">X</button></td>
			
		</tr>
	{{ end }}
	</table>
</div>
