<:Title>
Chat
<:Body>
	<div class="row">
		<div class="col-lg-22">
			<div class="panel panel-default">
				<div class="panel heading"><h3><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Chat </h3></div>
				<div class="mensajes"><h5>Mensajes <span class="badge">{{ messages.size }}</span></h5></div> 
				<div class="panel body">
					<form class="form-inline center" e-submit="send_message">
						<div class="form-group">
							<input type="date_field" placeholder="{{ Time.now }}" value="{{ page._form.time }}" />
							<input type="text" class="form" placeholder="Escriba el Título" value=" {{ page._form.title }}">
							<input type="text" class="form" placeholder="Escriba una consulta" value=" {{ page._form.body }}">
						</div>
					<input type="submit" class="button"/>
					</form>

					</hr>
						<div>
							<table class="table">
							{{ store._messages.each do |message| }}
							<p>
							<strong> {{ message.user.then(&:_name) }}</strong>
							<span class="message_time"> {{ message._time }}</span>
							<span class="message_title"> {{ message._title }}</span>
							<span class="message"> {{ message._body }}</span>
							<td><span class="glyphicon glyphicon-trash"></span><button e-click="message.destroy">X</button></td>
														
							</p>
							{{ end }}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>



