<:Title>
Chat
<:Body>
	<div class="row">
		<div class="col-lg-22">
			<div class="panel panel-default">
				<div class="panel heading"><h3>Chat</h3></div>
				<div class="panel body">
					<form class="form-inline center" e-submit="send_message">
						<div class="form-group">
							<input type="text" class="form" placeholder="Escriba una consulta" value=" {{ page._form.body }}">
						</div>
					<input type="submit" class="button"/>
					</form>

					</hr>
						<div><table class="table">
							{{ store._messages.each do |message| }}
						<p>
						<strong> {{ message.user.then(&:_name) }}</strong>
						<span>  {{ message._time }} </span>
						<span> {{ message._body }}</span>
						<td><button e-click="message.destroy">X</button></td>
						</p>
						{{ end }}
						</table></div>
					</div>
				</div>
			</div>
		</div>
