<:Title>
  SSUJMD 

<:Body>
  <h1>Servicio Social</h1>

<p><italic>Aquí encontrará información sobre proyectos existentes de Servicio Social</italic>, y podrá inscribirse en los mismos. Además, tendrá su usuario e información de Servicio Social.</p>

<h3>Proyectos {{ _todos.size }}</h3> 

<h4>Disponibles {{ incomplete }}</h4> 
<h5>Haga click en cada proyecto para ver descripción.</h5>

<div class="panel panel-default">
  <div class="panel-body">
		<table class="table">
		{{ _todos.each_with_index do |todo, index| }}

		<tr 
			e-click="params._index = index"
			class="{{ if current_index == index }}selected{{ end }}"
		>
			<td class="{{ if todo._completed }}complete{{ end }}">{{ todo._label }}</td>
			
			
		</tr>
		{{ end }}
		</table>
	</div>
</div>
<hr />

<h1> {{ current_todo._label}} </h1>

<h4> {{ current_todo._description }} </h4>

</tr>

<hr />

<h4> Alumnos Inscritos {{ _inscritos._size }}</h4>


<table class="table">
{{ _inscritos.each_with_index do |inscrito, index| }}

<tr>
	<td>{{ inscrito._label }}</td>
	<td><button e-click="inscrito.destroy">X</button></td>
	
</tr>
{{ end }}
</table>



<textarea>{{ current_todo._inscrito }}</textarea>

<div>
	<h3>Tiene Preguntas? Vaya al <a href="https://secret-anchorage-6384.herokuapp.com/chat">Chat Para Consultas</a></h3>
</div>


