<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</:nav>
        <:nav href="/about">About</:nav>
        <:nav href="/chat"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Chat</:nav>
        <:user_templates:menu />
      </ul>
      <h3 class="text-muted">Escuela de Psicología SSUJMD</h3>
    </div>

    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
      <p>&copy; Psicolología UJMD {{ Time.now.year }} Aplicación creado por: Carlos Coto</p>
    </div>

  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

