<:Title>
  Your Account

<:Body>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="span4 offset4 well">
        <legend>Datos Importantes</legend>

        <form e-submit="save">
          <:fields:text value="{{ _name }}" />
          <:fields:text value="{{ _carnet }}" />
          <:fields:textarea value="{{ _telefono }}" />
          <p>Escriba los proyectos en los que está inscrito</p>
          <:fields:textarea value="{{ _proyecto1 }}" />
          <:fields:text value="{{ _hora1 }}" />
          <p>Cantidad de Horas YA PROCESADAS</p>
          <:fields:textarea value="{{ _proyecto2 }}" />
          <:fields:text value="{{ _hora2 }}" />
          <p>Cantidad de Horas YA PROCESADAS</p>
          <:fields:textarea value="{{ _proyecto3 }}" />
          <:fields:text value="{{ _hora3 }}" />
          <p>Cantidad de Horas YA PROCESADAS</p>
          <button class="btn btn-info btn-block">Save</button>
        </form>

      </div>
      <hr />
      <h3>Documentos Importantes Para Servicio Social</h3>
      <p> Puede descargarlos haciendo click en el nombre</p>
      <p><a href="https://drive.google.com/open?id=0B-Fsk0v79FzBQWNaejhSaGJpT3BjRGNGNFVQWEVrR2xOS3Uw&authuser=0">Plan de Trabajo</a></p>
      <p><a href="https://drive.google.com/open?id=0B-Fsk0v79FzBZ2pBS2x0NnMzT0VmaWZ0RTBjTmVVdEtFR1BF&authuser=0">Reporte de Avance</a></p>
      <p><a href="https://drive.google.com/open?id=0B-Fsk0v79FzBN1k1REtuTnJET0RWNWdVRzNzS1F1aldXSUJr&authuser=0">Reporte Final</a></p>
      <hr />
      <div class="span4 offset4 well">
        <legend>Update Password</legend>
        <form e-submit="save">
          <:fields:text type="password" value="{{ _password }}" />
          <button class="btn btn-info btn-block">Save</button>
        </form>
      </div>
    </div>
  </div>


