<:Title>
  Your Account

<:Body>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="span4 offset4 well">
        <legend><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"> Datos Importantes</span></legend>

        <form e-submit="save">
          <:fields:text value="{{ _name }}" />
          <:fields:text value="{{ _carnet }}" />
          <:fields:textarea value="{{ _telefono }}" />
          <p>Escriba los proyectos en los que está inscrito</p>
          <:fields:textarea value="{{ _proyecto1 }}" />
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <td>Solicitud<input type="text" class="form-control" placeholder="#enLibro" value="{{ _solicitud1 }}"></td>
                </span>
                <span class="input-group-addon">
                  <td>Plan<input type="text" class="form-control" placeholder="#enLibro" value="{{ _plan1 }}"></td>
                </span>  
                <span class="input-group-addon">
                  <td>Avances<input type="text" class="form-control" placeholder="#Avances" value="{{ _avances1 }}"></td>
                </span>
                <span class="input-group-addon">
                  <td>Final<input type="text" class="form-control" placeholder="#enLibro" value="{{ _final1 }}"></td>
                </span>
                <span class="input-group-addon">
                  <td>Carta<input type="text" class="form-control" placeholder="#enLibro" value="{{ _carta1 }}"></td>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <:fields:text value="{{ _hora1 }}" />
          <p>Cantidad de Horas YA PROCESADAS</p>
          <:fields:textarea value="{{ _proyecto2 }}" />
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <td>Solicitud<input type="text" class="form-control" placeholder="#enLibro" value="{{ _solicitud2 }}"></td>
                </span>
                <span class="input-group-addon">
                  <td>Plan<input type="text" class="form-control" placeholder="#enLibro" value="{{ _plan2 }}"></td>
                </span>  
                <span class="input-group-addon">
                  <td>Avances<input type="text" class="form-control" placeholder="#Avances" value="{{ _avances2 }}"></td>
                </span>
                <span class="input-group-addon">
                  <td>Final<input type="text" class="form-control" placeholder="#enLibro" value="{{ _final2 }}"></td>
                </span>
                <span class="input-group-addon">
                  <td>Carta<input type="text" class="form-control" placeholder="#enLibro" value="{{ _carta2 }}"></td>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <:fields:text value="{{ _hora2 }}" />
          <p>Cantidad de Horas YA PROCESADAS</p>
          <:fields:textarea value="{{ _proyecto3 }}" />
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <td>Solicitud<input type="text" class="form-control" placeholder="#enLibro" value="{{ _solicitud3 }}"></td>
                </span>
                <span class="input-group-addon">
                  <td>Plan<input type="text" class="form-control" placeholder="#enLibro" value="{{ _plan3 }}"></td>
                </span>  
                <span class="input-group-addon">
                  <td>Avances<input type="text" class="form-control" placeholder="#Avances" value="{{ _avances3 }}"></td>
                </span>
                <span class="input-group-addon">
                  <td>Final<input type="text" class="form-control" placeholder="#enLibro" value="{{ _final3 }}"></td>
                </span>
                <span class="input-group-addon">
                  <td>Carta<input type="text" class="form-control" placeholder="#enLibro" value="{{ _carta3 }}"></td>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <:fields:text value="{{ _hora3 }}" />
          <p>Cantidad de Horas YA PROCESADAS</p>
          <button class="btn btn-info btn-block">Save</button>
        </form>

      </div>
      <hr />
      <h4><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"> Documentos Importantes Para Servicio Social</h4>
      <p> Puede descargarlos haciendo click en el nombre</p>
      <p><a href="https://drive.google.com/open?id=0B-Fsk0v79FzBQWNaejhSaGJpT3BjRGNGNFVQWEVrR2xOS3Uw&authuser=0">Plan de Trabajo</a></p>
      <p><a href="https://drive.google.com/open?id=0B-Fsk0v79FzBZ2pBS2x0NnMzT0VmaWZ0RTBjTmVVdEtFR1BF&authuser=0">Reporte de Avance</a></p>
      <p><a href="https://drive.google.com/open?id=0B-Fsk0v79FzBN1k1REtuTnJET0RWNWdVRzNzS1F1aldXSUJr&authuser=0">Reporte Final</a></p>
      <hr />
      <div class="span4 offset4 well">
        <legend>Update Password</legend>
        <form e-submit="save">
          <:fields:text type="password" value="{{ _password }}" />
          <button class="btn btn-info btn-block">Save</button>
        </form>
      </div>
    </div>
  </div>


