<:Title>
  admins index

<:Body>
  <h1>Find me in app/main/admins/index.html</h1>


<form e-submit="add_todo" role= "form">

	<input value="{{ page._new_todo!._label }}" />
</form>

<h3>Proyectos {{ _todos.size }} </h3> 

<h4>Disponibles {{ incomplete }}</h4> 

<table class="table">
{{ _todos.each_with_index do |todo, index| }}

<tr 
	e-click="params._index = index"
	class="{{ if current_index == index }}selected{{ end }}"
>
	<td><input type="checkbox" checked="{{ todo._completed }}"></td>
	<td class="{{ if todo._completed }}complete{{ end }}">{{ todo._label }}</td>
	
	<td><button e-click="todo.destroy">X</button></td>
	
</tr>
	{{ end }}
</table>

<hr/>

<h1> {{ current_todo._label}} </h1>

<textarea>{{ current_todo._description }}</textarea>

<hr/>

<h4> Número de Usuarios: {{ users.size }} </4>

<table class="table">

<tr>
	<td><strong>Nombre</strong></td>
	<td><strong>Carnet</strong></td>
	<td><strong>Proyectos</strong></td>
	<td><strong>User Admin</strong></td>
	<td><strong>Horas Sociales</strong></td>
	<td><strong>Borrar Usuario</strong></td>
	
</tr>

{{ store.users.all.each do |user|  }}

<tr>
	<td>{{ user._name }}</td>
	<td>{{ user._carnet }}</td>
	<td>{{ user._proyecto }}</td>
	<td>{{ user._admin }}</td>
	<td>{{ user._hora }}</td>
	<td><button e-click="user.destroy">Borrar Usuario</button></td>
	<td><button e-click="user._account">Cuenta de Usuario</button></td>

	
</tr>
{{ end }}
</table>